<table class="board6" border="1">
  <tr>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
    <td class="td6"><div class="circle"></div></td>
  </tr>
</table>