<table class="board7" border="1">
  <tr>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
    <td class="td7"><div class="circle"></div></td>
  </tr>
</table>