<table class="board4" border="1">
  <tr>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
  </tr>
  <tr>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
    <td class="td4"><div class="circle"></div></td>
  </tr>
</table>