{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'memory.css' %}">
    <script src="{% static 'memory.js' %}"></script>
  </head>
  <body>
    {% include '_header.html' %}
    これはmemoryページです
    <div class="board-frame">
      <div class="board">
        <table border="1">
          <tr>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
          </tr>
          <tr>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
          </tr>
          <tr>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
          </tr>
          <tr>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
            <td><div class="circle"></div></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="memorised-btn">
      <p>覚えた！</p>
    </div>
  </body>
</html>