.board {
  width: 200px;
  height: 200px;
  border: 3px black solid;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  background-color: #32cd32;
  width: 100%;
  height: 100%;
}

td{
  font-size: 30px;
  text-align: center;
  width: 25%;
  height: 25%;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  margin: auto;
}

.memorized-btn-frame {
  width: 100px;
  margin: 5px;
  border: 2px black solid;
  background-color: aqua;
}

.memorized-btn {
  margin: auto;
}
